<div fxLayout="row" fxLayoutGap="2.4rem">
    <div>
        <strong>ex:1 - DebounceTime(search text will appear after only 1 sec)</strong>
        <hr>
        <input type="search" class="search" placeholder="Search Here" #search/>
        <h3>{{searchedText}}</h3>
    </div>

    <div>
        <strong>ex:1 - DistinctUtilChanged(search text will appear after only 1 sec)</strong>
        <hr>
        <input type="search" class="search" placeholder="Search Here" #search1/>
        <h3>{{searchedText1}}</h3>
    </div>
</div>